
h3 {
    color: white;
    text-align: center;
    font-size: 15px !important;
}

h4 {
    color: white;
    text-align: center;
    font-size: 10px !important;
}

h5 {
    color: black;
    text-align: center;
    font-size: 20px !important;
}

h6 {
    color: white;
    text-align: right;
    font-size: 10px !important;
    background-color: none; 
}

.height {
    line-height: 11px;
}
.error-messages {
    color: red;
    text-align: center;
    font-size: .9em;
}

.rcorners {
    align-content: center;
    border-radius: 15px;
    background-color: white; 
    width: 30%;
    height: 100%; 
    text-align: center;
    border: 0px;
}

.rcorners1 {
    align-content: center;
    border-radius: 15px;
    background-color: white; 
    width: 100%;
    height: 100%; 
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0px;
}

.box {
position: relative;
margin: 5%;
padding: 5%;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

