h3 {
    color: white;
    text-align: center;
    font-size: 15px !important;
}

h4 {
    color: white;
    text-align: center;
    font-size: 10px !important;
}

h5 {
    color: black;
    text-align: center;
    font-size: 20px !important;
}

h6 {
    color: white;
    text-align: right;
    font-size: 15px !important;
}


.error-messages {
    color: red;
    text-align: center;
    font-size: 0.7em;
}


.rcorners {
    align-content: center;
    border-radius: 15px;
    border: 0px;
    background-color: white; 
    width: 100%;
    height: 100%; 
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

.rcornersbox {
    align-content: left;
    font-size: 1em;
    border-radius: 15px;
    border: 0px;
    background-color: white; 
    width: 100%;
    height: 40%; 
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}

.box {
position: relative;
width:100%;
height:50px;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 5px;
    align-content: right;
}

#edit-button{
    width:80px;
    height:30px;
    border-radius:15px;
    border:none;
    margin:10px;
}

#edit-icon{
    height:20px;
    width:20px;
    display: block;
    border:none;
    margin:5px;
}

