<ion-content (click)='goToInputReading()'>
  <h1 class='ion-header' style="padding-bottom: 10%; padding-top: 2%">
    {{ this.todayStr }}
  </h1>
  <div class="big-tap-outer-container">
    <table class="big-tap-inner-container">
      <tr>
      <td>
        <img src="../../assets/icon/tap (1).svg" alt="Tap here" class="tap-here-big-img">
      </td>
    </table>
  </div>
  <div style="position: fixed; bottom: 0px; width: 100%; padding-top: 10%; padding-bottom: 2%; margin-bottom: 20px">
    <div>
      <h2 style="text-align: center;">Tap to enter today's reading</h2>
    </div>
    <br>
  </div>
</ion-content>