<ion-content>
  <div class="entire-screen">
    <div class="top-container">
      <h1 class='ion-header'>
        {{ this.todayStr }}
      </h1>
    </div>
    <div class="upper-mid-container">
      <div class="umid-con-lhs">
        <h4>You have already entered today's reading</h4>
      </div>
      <div class="umid-con-rhs">
        <img id="checked-tick" src="../../assets/icon/checked.svg">
      </div>
    </div>
    <div class="lower-mid-container">
      <h3>{{ this.readingDesc }}</h3>
      <div class="todays-reading-container">
        <img id="reading-square" src="../../assets/protein-level-square/{{ this.readingSquareIcon }}.svg">
      </div>
      <div class="reading-desc">
        <p>You are in {{ this.stateName }}</p>
      </div>
    </div>
    <!-- <div class="current-state-container">
      <h4>You are currently in {{ this.currentState }}</h4>
    </div> -->
    <div class="bottom-container">
      <div class="bot-mid-container">
        <h4>Recommended Dose of Prednisone</h4>
        <p *ngIf="intervalLen != 1">Your treatment plan indicates this recommended dosage should be taken every {{ intervalLen }} days.</p>
          <p *ngIf="intervalLen == 1">Your treatment plan indicates this recommended dosage should be taken every day.</p>
        <div class="dose-container">
          <div class="dose-lhs-container">
            <img class="meds" src="../../../assets/icon/med.svg">
          </div>
          <div class="dose-rhs-container">
            <div class="dose-rhs-top">
              <h2>{{ reccDose }}mg x {{ dosesPerInterval }}</h2>
            </div>
            <div class="dose-rhs-bot">
              <img (click)="confirmMedsTaken()" id="conConfirmMeds" src="../../assets/buttons/confirm-taken-btn.svg">
              <img (click)="cancelMedsTaken()" id="conCancelMeds" src="../../assets/buttons/confirm-taken-tick.svg">
            </div>
          </div>
        </div>
        <div class="view-comment-container">
          <div class="comment-formgroup">
            <h4>Your Comment:</h4>
            <div class="comment-textarea">
              {{ this.comment }}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="edit-container"> -->
        <!-- <img (click)="editReading()" src="../../assets/buttons/edit-reading.svg" alt="" class="edit"> -->
      <!-- </div> -->
    </div>
  </div>
</ion-content>